Assets/ filter=lfs diff=lfs merge=lfs -text
Assets/Sprites/** filter=lfs diff=lfs merge=lfs -text
Assets/Textures/** filter=lfs diff=lfs merge=lfs -text
Assets/Materials/** filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/** filter=lfs diff=lfs merge=lfs -text
Assets/3rd-Party/** filter=lfs diff=lfs merge=lfs -text
Assets/Animations/** filter=lfs diff=lfs merge=lfs -text
Assets/Audio/** filter=lfs diff=lfs merge=lfs -text
Assets/Editor/** filter=lfs diff=lfs merge=lfs -text
Assets/Models/** filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/** filter=lfs diff=lfs merge=lfs -text
Assets/Prefabs/** filter=lfs diff=lfs merge=lfs -text
Assets/Resources/** filter=lfs diff=lfs merge=lfs -text
Assets/Sandbox/** filter=lfs diff=lfs merge=lfs -text
Assets/Shaders/** filter=lfs diff=lfs merge=lfs -text
Assets/StreamingAssets/** filter=lfs diff=lfs merge=lfs -text
Assets/Videos/** filter=lfs diff=lfs merge=lfs -text
Assets/DLCs/** filter=lfs diff=lfs merge=lfs -text
Assets/AgoraEngine/** filter=lfs diff=lfs merge=lfs -text
Assets/Vuplex/** filter=lfs diff=lfs merge=lfs -text